* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 20px;
}

body {
    background-color: rgb(61, 7, 112);
    color: white;
}

.container {
    margin-top: 20px;
    background-color: rgba(255, 112, 23, 0.4);
    background-image: url('./cat.jpg');
    background-position: center;
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: border-box; */
    background-attachment: fixed;
    padding: 30px;
    /* height: 200px; */
    border: 2px solid wheat;
    /* height: 100vh; */
    height: 300px;
    font-size: 20px;
}

.bh {
    text-align: center;
    padding: 10px;
    background-color: rgba(143, 23, 255, 0.5);
    font-family: monospace;
    /* font-size: 50%; */
    /* font-size: 1rem; */
    /* font-size: 10vw; */
}

.a {
    padding: 10px;
    border: 2px solid rgba(218, 182, 252, 0.5);
    margin: 5px;
}